Repository skodjob/deployment-hub, pull requests merged in 2021-11, with the labels that each got.

#10 Add strimzi canary deployment and configuration
  kafka/kafkauser/00-user-internal-canary.yaml
  strimzi-canary/00-service-account.yaml
  strimzi-canary/00-service.yaml
  strimzi-canary/01-deployment.yaml
Labels: kafka, kafka-user

#13 Add drain cleaner install files
  .github/lint-config.yaml
  strimzi-drain-cleaner/000-Namespace.yaml
  strimzi-drain-cleaner/010-ServiceAccount.yaml
  strimzi-drain-cleaner/020-ClusterRole.yaml
  strimzi-drain-cleaner/030-ClusterRoleBinding.yaml
  strimzi-drain-cleaner/050-Service.yaml
  strimzi-drain-cleaner/060-Deployment.yaml
  strimzi-drain-cleaner/070-ValidatingWebhookConfiguration.yaml
Labels: github_ci

#14 Improve Kafka alerts and add Canary dashboard
  metrics/alerts/kafka-sre.yaml
  metrics/alerts/kafka.yaml
  metrics/dashboards/canary-dashboard.yaml
  metrics/dashboards/cruise-control-dashboard.yaml
  metrics/grafana-strimzi-dashboards.yaml
  metrics/strimzi-pod-monitor.yaml
  strimzi-canary/020-Deployment.yaml
Labels: metrics

#16 Add and split alerts for Kafka and Strimzi to fix namespace missmatch
  metrics/alerts/kafka-connect.yaml
  metrics/alerts/kafka-mirror-maker.yaml
  metrics/alerts/kafka-sre.yaml
  metrics/alerts/kafka.yaml
  metrics/alerts/strimzi-drain-cleaner.yaml
  metrics/alerts/strimzi-operator.yaml
  metrics/grafana/dashboards/canary-dashboard.yaml
  metrics/grafana/dashboards/cruise-control-dashboard.yaml
  metrics/grafana/dashboards/kafka-bridge-dashboard.yaml
  metrics/grafana/dashboards/kafka-connect-dashboard.yaml
  metrics/grafana/dashboards/kafka-dashboard.yaml
  metrics/grafana/dashboards/kafka-exporter-dashboard.yaml
  metrics/grafana/dashboards/kafka-mirror-maker-2-dashboard.yaml
  metrics/grafana/dashboards/operators-dashboard.yaml
  metrics/grafana/dashboards/zookeeper-dashboard.yaml
  metrics/grafana/grafana-data-source.yaml
  metrics/grafana/grafana-operator.yaml
  metrics/grafana/grafana-setup.yaml
  metrics/grafana/grafana-strimzi-dashboards.yaml
  metrics/grafana/grafana.yaml
  metrics/grafana/strimzi-pod-monitor.yaml
  metrics/grafana/user-workload-cm.yaml
Labels: metrics

#17 Add canary alerts
  metrics/alerts/canary.yaml
Labels: metrics

#18 Add traffic lights to dashboard and into canary dashboard directly
  metrics/grafana/dashboards/canary-dashboard.yaml
  metrics/grafana/grafana-strimzi-dashboards.yaml
Labels: metrics
